<!DOCTYPE HTML>
<html>

<head>
  <title>textured_stars - contact us</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Supermarket Customer Segmentation<span class="logo_colour"></span></a></h1>
          <h2>by: Ahmed Mokhtar</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">About</a></li>
          <li class="selected"><a href="predict.html">Predict</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <h1>Upload Your CSV File</h2>
        <form id="uploadbanner" enctype="multipart/form-data" method="post">
          <input id="file" name="file" type="file" />
          <input type="submit" value="Predict" id="submit" />
       </form>
      </div>
    </div>
  </div>
</body>
</html>
